
   body {
    height: 100vh;
    background-color: #f1f1f1;
       background-image: url("https://wallbox.ru/resize/1680x1050/wallpapers/main/201303/7d20a57295d86ac.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       
   }

.header {
    margin-top: 200px;
    font-family: 'Cuprum', "Arial", "Helvetical", sans-serif;
  
}
.gdz *{
    margin: 0; 
    padding: 0;
}
.gdz ul,
.gdz ol{
    list-style: none;
}
.gdz > ul {
    display: flex;
    justify-content: center;
  
    
  
  
}
.gdz > ul li a {
    display: block;
    bacground: 0000ff; 
    padding: 15px 30px  15px 40px;
    font-size: 14px;
    color: #ffffff;
    text-decaration: none;
    text-transform: uppercase;
}
