#pagewrap {
   width: 980px;
   margin: 0 auto;
}
#header {
   height: 160px;
}
#content {
   width: 600px;
   float: left;
}
#sidebar {
   width: 280px;
   float: right;
}
#footer {
   clear: both;
}